

    body{
        margin: 0;
        font-family: 'Source Sans Pro', sans-serif;
    }
    a {
        text-decoration: none;
        color: white;
    }
    .navbar { 
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: gray;
        padding: 8px 12px;
    }
    .navbar_logo {
        font-size: 24px;
        color: white;
    }
    .navbar_logo i {
        color: #d49466;
    }
    .navbar_menu {
        display: flex;
        list-style: none;
        padding-left: 0;
    }
    .navbar_menu li {
        padding: 8px 12px;
    }
    .navbar_menu li:hover {
        background-color: #d49466;
        border-radius: 4px;
        overflow-x: hidden;
    }
    .navbar_icon {
        list-style: none;
        color: white;
        display: flex;
        padding-left: 0;
    }
    .navbar_icon li {
        padding: 8px 12px;
    }
    .navbar_button {
        display: none;
        position: absolute;
        right: 32px;
        font-size: 24px;
        color: #d49466;
    }

    @media screen and (max-width: 768px) {
       
      
        main {
            display: flex;
            flex-direction: column;
        }

        .gallery img {
            width: 400px;
            height: 400px;
        }

            .navbar {
                flex-direction: column;
                align-items: flex-start;
        }

        .navbar_menu { 
            display: none;
            flex-direction: column;
            align-items: center;
            width: 100%;
        }
        .navbar_menu li {
            width: 100%;
            text-align: center;
        }
        .navbar_icon { 
            display: none;
            justify-content: center;
            width: 100%;
        }
        .navbar_button {
            display: block;
        }
        .navbar_menu.active, .navbar_icon.active {
            display: flex;
        }
    }



 main .inner-container1 {
    margin: 0px auto;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    position: relative;
    margin-top: 4%;
 }


 main .gallery img{
    width: 400px;
    height: 250px;
    border-top: 1px solid black;
    
 }
 main .blog {
     width: 350px;
 }
