.제목 {
    font-size: 50px;
    text-align: center;
    padding: 20px;
    border-bottom: 1px solid black;
}

.inner-container3 {
    margin: 0;
}
.inner img {
    width: 0 auto;
    height: 800px;
}
.container3 {
    width: 300vw;
    transition: transform 0.5s;
    position: relative;
    top: 70px;
    left: 110px;
}
.inner,.inner3 {
    width: 100vw;
    float: left;
}
.버튼1,.버튼2,.버튼3 {
    background-color: black;
    border-radius: 50%;
    border: solid 3px white;
    position: relative;
    left: 48%;
    bottom:0px;
    padding: 7px;
}
.모듈선택1,.모듈선택2,.모듈선택3 {
    position: relative;
    left: 45%;
    top: 25px;
    float: left;
    padding-left: 12px;
}
a { text-decoration:none ; color:#000000}